<!DOCTYPE html>
<html>
<head>
  <title> MfgXChange :: Exchange for Manufacturers </title>
  <header><h1 style="font-family:Tahoma;color:blue;font-size:24px;">MfgXChange</h1></header>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>


	<%= yield %>

</body>
<footer style="font-family:Tahoma;color:black;font-size:10px;">Copyright 2005 MfgXChange | Questions Contact <a href=:mailto:admin@MfgXChange.com> webmaster</footer>
</html>
