<html>
	<head>
				<title>Basic Side bar</title>
					<link rel ="stylesheet" type="text/css" href="main.css"/>
					<link rel='html' type="html" href="Sidebar.html"/>
	</head>

<body>
	
	<ul class="sbar">
		<li><a href="index.html"/> Home</li>
		<li><a href="MembershipBenefits.html"/> Membership Benefits</li>
		<li><a href="ProductServices.html"/> Products/Services</li>
		<li><a href="IndustryNews.html"/> Industry News</li>
		<li><a href="CompanyProfile.html"/> Company Profile</li>
		<li><a href="Press.html"/> Press</li>
		<li><a href="MediaKit.html"/> Media Kit</li>
		<li><a href="Contactus.html"/> Contact Us</li>
	</ul>
</body>

</html>